{% extends 'base.html.twig' %}

{% block title %}{{ actors.person.name }}{% endblock %}

{% block body %}
{#    {{ dump(actors) }}#}
    {% include 'includes/_navbar.html.twig' %}
    <div class="container">
        <h1> {{ actors.person.name }}</h1>
        <div class="row">
            <div class="col-md-6 main-actor" style="background-image: url('{{ actors.person.poster }}')"></div>
            <div class="col-md-6">
                <h3>Né le {{ actors.person.birthday }}</h3>
                <p>{{ actors.person.description }}</p>
            </div>
        </div>
    </div>

    <div class="car-list">
        <div class="title col-md-12 text-center"> <h2>Séries</h2></div>
        {% for series in actors.person.shows %}
            <div class="cta card-car" style="background-image: url('{{ series.show.poster }}'); background-size:
                    contain">
                <div class="text">
                    <h2>Année : {{ series.show.creation }}</h2>
                    <h2>{{ series.show.seasons }} saisons.</h2>
                    <h2>{{ series.show.episodes }} épisodes.</h2>
                    <h2>{{ series.show.followers }} followers</h2>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="car-list">
        <div class="title col-md-12 text-center"> <h2>Films</h2></div>
        {% for movie in actors.person.movies %}
            <div class="cta card-car" style="background-image: url('{{ movie.movie.poster }}'); background-size:
                    contain">
                <div class="text">
                    <h2>Année : {{ movie.movie.production_year }}</h2>
                    <h2>{{ movie.movie.followers }} followers</h2>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
